.skills-section {
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .skills-heading {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    animation: fadeIn 2s ease-out, pulseAnimation 2s infinite;
  }
  
  .skills-heading::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #17a2b8;
    margin: 10px auto;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .skill-item {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.85); /* Darker on hover */
  }
  
  .skill-icon {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .skill-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .skills-container {
      flex-direction: column;
      align-items: center;
    }
  }
  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  