

.admin-panel {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.text-success, .text-danger {
    font-size: 1rem;
    
    color: rgb(15, 56, 56);
}

.text-success {
    color: #28a745;
    font-weight: bold;
}

.text-danger {
    color: #04034e;

    font-weight: bold;
}
