.orders-container {
    background-color: #97c9fc; /* Light background color */
    padding: 20px;
    border-radius: 8px;
}

.order-item {
    background-color: #4984dd; /* Updated background color for order items */
   /* Border color for card */
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}

.order-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.order-image {
    flex: 0 0 120px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.total-price {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}
